@model IEnumerable<ToeicCentre_Management.Models.Dangkyonluyen>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrinhDoHienTai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemToiecMucTieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhThucHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLopNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSvNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrinhDoHienTai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemToiecMucTieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhThucHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLopNavigation.IdLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSvNavigation.MaSv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOnLuyen">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdOnLuyen">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOnLuyen">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
