@model ToeicCentre_Management.Models.Cauhoi

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cauhoi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdCauHoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdCauHoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathAudioRieng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathAudioRieng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathHinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathHinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaiThichDa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaiThichDa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SttTrongNhom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SttTrongNhom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTaoCh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTaoCh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDuyetCh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDuyetCh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapNhatCh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapNhatCh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGiaoVienTaoChNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGiaoVienTaoChNavigation.MaGv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNguoiDuyetChNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNguoiDuyetChNavigation.MaKdv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhomChNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhomChNavigation.MaNhomCh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTtChNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTtChNavigation.MaTtCh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaCh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
