@model ToeicCentre_Management.Models.Dangkythithu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dangkythithu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThiThu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThiThu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaThi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaThi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DotThiThu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DotThiThu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDeThiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDeThiNavigation.IdDeThi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLsdTlNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLsdTlNavigation.MaLsdTl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSvNavigation.MaSv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdThiThu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
